<html>

<head>

</head>

<body>
    <!--Navbar creado por Boostrap-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Powered by
                        Angular&Boostrap</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
            </form>
        </div>
    </nav>
    <!--Navbar creado por Boostrap-->



    <div class="container">
        <form action="">

                <!--Ingreso del nombre-->
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" class="form-control" [(ngModel)]="alumno.nombre">
            </div>

    <!--Ingreso del apellido-->
            <div class="form-group">
                <label for="apellido">Apellido</label>
                <input type="text" name="apellido" class="form-control" [(ngModel)]="alumno.apellido">
            </div>

    <!--Seleccion de excelencia -->
            <div class="form-group">
                <label for="excelencia">Excelencia:&nbsp;</label>
                <select name="excelecnia" [(ngModel)]="alumno.excelencia">
                    <option value="false">No</option>
                    <option value="true">Si</option>
                </select>
            </div>

    <!--Boton de agregar-->
            <button type="submit" class="btn btn-primary" (click)="agregar()">Agregar</button>
        </form>

            <!--En esta caja agregamos un registro, en base a los datos proporcionados anteriormente, y se iran agregando gracias al ngFor-->
        <div class="card" *ngFor="let alumnoDesdeFor of ListadoAlumnos">
            <div class="card-body">
                <span [ngClass]="{'excelencia': alumnoDesdeFor.excelencia}"> alumno: </span>{{alumnoDesdeFor.nombre}}
                {{alumnoDesdeFor.apellido}}
            </div>
        </div>
    </div>



</body>

</html>